
#more210 {
    display: none;
}

#more212 {
    display: none;
}

#more214 {
    display: none;
}

#more220 {
    display: none;
}

#more222 {
    display: none;
}

#more224 {
    display: none;
}

#more230 {
    display: none;
}

#more250 {
    display: none;
}

#more232 {
    display: none;
}

#more234 {
    display: none;
}

#more242 {
    display: none;
}

#more244 {
    display: none;
}

#more255 {
    display: none;
}

#more260 {
    display: none;
}

#more238 {
    display: none;
}

#more256 {
    display: none;
}

#more252 {
    display: none;
}

#more253 {
    display: none;
}

#more251 {
    display: none;
}

#more700 {
    display: none;
}

#more248 {
    display: none;
}

#more702 {
    display: none;
}

#moreMathLab {
    display: none;
}





#grid210 {
    width: 100%;
    font-size: .7rem;
}
#grid212 {
    width: 100%;
    font-size: .7rem;
}
#grid214 {
    width: 100%;
    font-size: .7rem;
}
#grid220 {
    width: 100%;
    font-size: .7rem;
}
#grid222 {
    width: 100%;
    font-size: .7rem;
}
#grid224 {
    width: 100%;
    font-size: .7rem;
}
#grid230 {
    width: 100%;
    font-size: .7rem;
}
#grid250 {
    width: 100%;
    font-size: .7rem;
}
#grid234 {
    width: 100%;
    font-size: .7rem;
}
#grid242 {
    width: 100%;
    font-size: .7rem;
}
#grid244 {
    width: 100%;
    font-size: .7rem;
}
#grid255 {
    width: 100%;
    font-size: .7rem;
}
#grid260 {
    width: 100%;
    font-size: .7rem;
}
#grid238 {
    width: 100%;
    font-size: .7rem;
}
#grid232 {
    width: 100%;
    font-size: .7rem;
}


