@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&family=Rubik:wght@300;400;600&display=swap');
/*
'Rubik', sans-serif;
font-weight: 200;
font-weight: 400;
font-weight: 600;
*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&family=Rubik:wght@300;400;600&display=swap');
/*
'Quicksand', sans-serif;
font-weight: 300;
font-weight: 500;
font-weight: 700;
*/

header {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: white;
    font-size: 3rem;
}

body {
    background: #1B1B1B;
    margin: 0;
}

.card {
    font-weight: bolder;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, .4);
    padding: 100px;
}

.italics {
    font-style: italic;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}

  .search-bar
        {
            background-color: white; 
            width: 50%; 
            height: 2rem; 
            border-radius: 8px; 
            border: 3px solid #CDCDCD; 
            text-align: left; 
            font-family: 'Quicksand', sans-serif; 
            font-size: 20px; 
            padding: 6px; 
            font-weight: bold;
            color: rgba(0, 0, 0, 0.6);
            text-align: center;
        }